/**
@author Gihan Madushanka Ubayawardana
https://github.com/gihanmu/ui_training/tree/master/assignment2
**/

html,body{
	height: 100%;
	font-family: Arial


}

#plantation-details{
	text-decoration: underline;
	position: relative;
	left: 8%;
}

.main-wrapper{
	position: relative;
	left: 5%;
	width: 90%;	
	height: 80%;
	border:1px solid black;
	border-radius: 5px 5px;
	margin-top: -1%;
}

.first-wrapper{
	position: relative;
	left: 2%;
	top: 4%;
	width: 96%;
	height: 20%;
	border:1px solid #A3A2A7;
	border-radius: 2px 2px;
	background-color: #F1EEFF;
	font-size: 0.8em; /** text in this wrapper will be this size **/

}

.pname-div{
	position: relative;
	width: 30%;
	left: 2%;
	top: 30%;
}

.name-key{
	font-weight: bold;

}

.name-value{
	position: relative;
	left: 20%;
}

.cropname-div{
	position: absolute;
	width: 30%;
	left: 40%;
	top: 30%;
}

.area-div{
	position: relative;
	width: 30%;
	left: 2%;
	top: 50%;
}

.area-value{
	position: relative;
	left: 38%;
}

.active-div{
	position: absolute;
    width: 30%;
    left: 53%;
    top: 62%;
}

.second-wrapper{
	position: relative;
    left: 2%;
    top: 5%;
    width: 96%;
    height: 30%;
}
.plot-list-wrapper{
	height: 15%;
	border-bottom: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}

thead{
	background-color: #F1EEFF;
}

.plot-list-tbl{
	width:100%;
	margin-top: 2%;
	font-size: 0.8em;
}

.last-row{
	background-color:  #A3A2A7;	
	font-weight: bold;
}

.bold-text{
	font-weight: bold;
}

.top-margin-2{
	margin-top: 2%;
}

.tabs-wrapper{
  position: relative;
  width: 50%;
  height: 5%;
  top: 2%;
  left: 4%;
}

.tabs-wrapper .tab{
  float: left;
  height: 70%;
  margin-left: 1%;
  padding: 5px 20px 0px 20px;
  border-radius: 7px 7px 0px 0px;
  border: 1px solid #A3A2A7;
  color: #fff;
  background-color: #767D90;
}

.tabs-wrapper .selected{
  color: #000;
  background-color: #fff;
}

.outer-wrapper{
	position: relative;
	left: 5%;
	top: 8%;
	width: 90%;		
	border:1px solid #A3A2A7;
	border-radius: 5px 5px;
	margin-top: -1%;
	padding: 5px;

}

.sub-outer-wrapper{
	border:1px solid #A3A2A7;
	border-radius: 5px 5px;	
	width: 96%;
	position: relative;
	left: 2%;
	top: 4%;

}

.nested-wrapper{
	border:1px solid #A3A2A7;
	border-radius: 5px 5px;	
	width: 96%;
	margin-top: 2%;
	margin-left: 2%;
	background-color: #FFFFFF;
}
.inside-wrapper{
	background-color: #F1EEFF;
	width: 96%;
	position: relative;
	left: 2%;
	top: 4%;
	border:1px solid #A3A2A7;
	border-radius: 5px 5px;
	padding-bottom: 1%;
	margin-bottom: 2%;

}
.header-wrapper{
	position: relative;
	width: 98%;
	height: 1%;
	left: 1%;
	border-bottom: 1px solid black;	

}

.header-wrapper  p{
	font-weight: bold;
	position: relative;
	top: 10px;

}

.input-wrapper{
	width: 60%;
	margin-top: 1%;
	margin-left: 4%;
}

.inline-input-wrapper{
	display: inline-block;
	width: 40%;
	margin-top: 1%;
	margin-left: 4%;
}

.label{
	font-size: 0.9em;
	font-weight: bold;
	width: 60%;
	display: inline-block;
}

.inline-label{
	display: inline-block;
	width: 50%;
	font-size: 0.9em;
	font-weight: bold;
	
}

.inline-input{

}

.top-2{
	margin-top: 2%;
}

.left-3{
	margin-left: 3%;
}

.required{
	display: inline-block;
	margin-left: 3%;
	color: red;
	font-size: 1.1em;
}

.label-value{
	font-size: 0.9em;
}

.bold-text{
	font-weight: bold;
}

.block-btn{
	display: block;

}

.blue-btn{
	background-color: #3B8AB5;
	border-radius: 2px 2px;
	border: 1px solid black;
}

.table-wrapper{
	padding: 5px;
}

#remarks{
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: underline;
}

.up-minus{
	margin-top: -2%;
}


.file-labels{
	display: inline-block;
    width: 47%;
    font-size: 0.9em;
    font-weight: bold;
}

.contact-us{
	display: inline-block;
    position: relative;
    top: -70px;
    left: 72%;
    width: 166px;
    height: 52px;
    background-color: #D6582B;
    font-size: 1.2em;
    color: #FFFFFF;
}

.blur{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
}

.center-modal{
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 3;
  width: 600px;
  height: 150px;
  padding: 0px 10px 0px 10px;
  background-color: #FFFFFF;
}


.modal-header{
	font-weight: bold;
	border-bottom: 1px solid black;
}

